<!-- Esta sección representa los detalles del hotel -->
<div class="container">
  <div class="left-container">
    <div class="hotel-name">
      <h2>{{ hotel.name }}</h2>
    </div>

    <div class="images">
      <img *ngIf="hotel.images.length > 0" [src]="currentImage" [alt]="hotel.name" class="main-image">

      <div class="thumbnail-gallery">
        <img *ngFor="let image of hotel.images" [src]="image" [alt]="hotel.name" class="thumbnail-image" (click)="changeImage(image)">
      </div>

      <div class="price-container">
        <p class="price">{{ hotel.price }}</p>
        <button class="reserve-button" (click)="openReservationModal($event)">Reservar</button>
      </div>
    </div>
  </div>

  <div class="right-container">
    <div class="services">
      <h2>Servicios</h2>

      <div class="service-category">
        <h3>The Hotel</h3>
        <div class="service-list">
          <div *ngFor="let service of hotelServices">
            <i class="icon" [ngClass]="service.icon"></i>
            <span>{{ service.text }}</span>
          </div>
        </div>
      </div>

      <div class="service-category">
        <h3>The Room</h3>
        <div class="service-list">
          <div *ngFor="let service of roomServices">
            <i class="icon" [ngClass]="service.icon"></i>
            <span>{{ service.text }}</span>
          </div>
        </div>
      </div>

      <div class="service-category">
        <h3>The Food & Drink</h3>
        <div class="service-list">
          <div *ngFor="let service of foodServices">
            <i class="icon" [ngClass]="service.icon"></i>
            <span>{{ service.text }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal de reserva -->
<div class="modal-overlay" *ngIf="isReservationModalOpen" (click)="closeReservationModal($event)">
  <app-reservation [isReservationModalOpen]="isReservationModalOpen" (close)="closeReservationModal()"></app-reservation>
</div>
